<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta name="description" content="{{ descriptions }}">
		<meta name="keywords" content="{{ keywords }}">
        <link rel="stylesheet" type="text/css" href="./public/css/style.css">
        <script src="./public/javascript/script.js"></script>
        <title>{{ title }}</title>
        {% block head %}{% endblock %}
    </head>
    <body {% block onload %}{% endblock %}>
        <header class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand nav-bar-margin-start" href="./index.php">Retourner vers {{ navtitle }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item{% if (currentPage == "panel") %} active{% endif %}">
                            <a class="nav-link" href="./index.php?page=panel">Profil</a>
                        </li>
                        {% if (role >= 1) %}
                        <li class="nav-item{% if (currentPage == "postmanager") %} active{% endif %}">
                            <a class="nav-link" href="./index.php?page=postmanager">Articles</a>
                        </li>
                        {% endif %}
                        {% if (role == 1) %}
                        <li class="nav-item{% if (currentPage == "commentmanager") %} active{% endif %}">
                            <a class="nav-link" href="./index.php?page=commentmanager">Commentaires</a>
                        </li>
                        <li class="nav-item{% if (currentPage == "permissionmanager") %} active{% endif %}">
                            <a class="nav-link" href="./index.php?page=permissionmanager">Permissions</a>
                        </li>
                        <li class="nav-item{% if (currentPage == "settingsmanager") %} active{% endif %}">
                            <a class="nav-link" href="./index.php?page=settingsmanager">Pr&eacute;f&eacute;rences g&eacute;n&eacute;rales</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% if (role >= 0) %}
                <div class="collapse navbar-collapse navbar-user-avatar">
                    {% if (user.path_name is empty) %}
                    <img src="./public/images/avatars/default.svg" alt="Avatar de {{ user.name }} {{ user.surname }}" title="{{ user.name }} {{ user.surname }}">
                    {% else %}
                    <img src="./public/uploads/{{ user.path_name }}" alt="Avatar de {{ user.name }} {{ user.surname }}" title="{{ user.name }} {{ user.surname }}">
                    {% endif %}
                </div>
                {% endif %}
            </nav>
        </header>
        <!-- Error -->
        {% block error %}{% endblock %}
        
        <!-- Content -->
        {% block content %}{% endblock %}

        <footer class="container">
            <!-- Navigations & Copyright -->
            <div class="row bg-light">
                {% if (role != -1) %}
                <div class="col text-start">
                    <a href="./index.php?page=panel" class="link-dark">Panneau de configuration</a>
                </div>
                {% endif %}
                <div class="col text-end">
                    myBlog &copy; 2021
                </div>
            </div>
        </footer>
    </body>
</html>