{% extends "/panel/base.html.twig" %}

{% block content %}
{% if (role == 1) %}
<!-- Panel -->
<section class="container">
    <h1>Commentaires en attente de validation</h1>
    {% for comment in comments %}
    <div class="row">
        <div class="col-8">
            {{ comment.content }} écrit par {{ comment.name }} {{ comment.surname }} dans l'article <b>{{ comment.title }}</b> 
        </div>
        <div class="col-2">
            <a href="./index.php?page=confirmcomment&id={{ comment.id }}&token={{ token }}" class="link-dark">Confirmer</a>
        </div>
        <div class="col-2">
            <a href="./index.php?page=rejectcomment&id={{ comment.id }}&token={{ token }}" class="link-dark">Rejeter</a>
        </div>
    </div>
    {% else %}
        Aucuns commentaires
    {% endfor %}
</section>
{% endif %}
{% endblock %}