{% extends "/panel/base.html.twig" %}

{% block error %}
{% if(error != "0") %}
<script>
    function closeWindow() {
        document.getElementById("error-box").hidden = true;
    }
</script>
<div class="error-box" id="error-box">
    {% if(error == "1") %}
        Le type de fichier envoyer n'est pas au bon format
    {% endif %}
    {% if(error == "2") %}
        Erreur lors de la copie du fichier, veuillez rééssayer plus tard
    {% endif %}
    <input type="button" value="Fermer" onclick="closeWindow()" >
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if (role != -1) %}
<!-- Panel -->
<section>
    <h1>Profil</h1>
        <div class="contact-container">
            <form action="./index.php?page=editprofile" method="POST" class="contact-form">
                <input type="hidden" name="id" value="{{ user.id }}">
                <div>
                    <input type="text" name="name" value="{{ user.name }}" required>
                    <label for="site_title">Prénom</label>
                </div>
                <div>
                    <input type="text" name="surname" value="{{ user.surname }}" required>
                    <label for="site_title">Nom</label>
                </div>
                <div>
                    <input type="text" name="hat" value="{{ user.user_hat }}" required>
                    <label for="site_title">Phrase d'accroche</label>
                </div>
                <input type="submit" value="Modifier">
            </form>
        </div>
    <h2>Avatar</h2>
    {% if (user.path_name is empty) %}
    <img src="./public/images/avatars/default.svg" alt="Avatar" style="width: 100px; height: 100px;">
    {% else %}
    <img src="./public/uploads/{{ user.path_name }}" alt="Avatar" style="width: 100px; height: 100px;">
    {% endif %}
    <div>
        Changer d'avatar
    </div>
    <form action="./index.php?page=uploadavatar" method="post" enctype="multipart/form-data">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="user_image_file" value="{{ user.path_name }}">
        <input type="file" name="avatar">
        <input type="submit" value="Envoyer">
    </form>
    {% if (socials is not empty) %}
    <h2>Réseaux Sociaux</h2>
    <script type="text/javascript">
        function addSocialNetwork() {
            index = index+1;
            var inputSocial =  `
                        <div id="social-${index}">
                            <input type="button" value="X" onclick="deleteSocial(${index})">
                            <select name="social_id[]" id="social_id_${index}" onchange="saveInput(${index})">
                                {% for social in socials %}
                                    <option value="{{ social.id }}">{{ social.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="text" name="meta[]" id="social_meta_${index}" oninput="saveInput(${index})">
                        </div>`;
            document.getElementById("profile_social").innerHTML += inputSocial;
            restoreInput();
        }
    </script>
        {% if (userSocials is not empty) %}
        <form action="./index.php?page=updateusersocials" method="POST" class="contact-form">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            {% for userSocial in userSocials %}
            <div>
                <img src="./public/images/socials/{{ userSocial.social_image }}" alt="Logo de {{ userSocial.name }}" style="max-width: 15px;">
                {{ userSocial.name }}
                <input type="hidden" name="social_id[]" value="{{ userSocial.id }}">
                <input type="text" name="meta[]" value="{{ userSocial.meta }}">
                <a href="index.php?page=deleteusersocial&social_id={{ userSocial.id }}&user_id={{ user.id }}">Supprimer</a>
            </div>
            {% endfor %}
            <input type="submit" value="Modifier">
        </form>
        {% endif %}
    {% endif %}
    <input type="button" value="Ajouter des réseaux sociaux" onclick="addSocialNetwork()">
    <div>
                <form action="./index.php?page=addusersocials" method="post">
                <div class="social-network" id="profile_social">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                </div>
                <input type="submit" value="Ajouter">
                </form>
    </div>

    {% if (role == 1) %}
    <h2>Curriculum Vitae</h2>
    <form action="./index.php?page=uploadcv" method="post" enctype="multipart/form-data">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="hidden" name="user_cv_name" value="{{ user.file_name }}">
        <input type="file" name="cv">
        <input type="submit" value="Envoyer">
    </form>
    {% endif %}
</section>
{% endif %}
{% endblock %}