{% extends "/panel/base.html.twig" %}

{% block content %}
{% if (role >= 1) %}
<!-- Panel -->
<section class="container">
    <h1>Articles</h1>
    {% for post in posts %}
        {% if (role == 2) and (post.user_id == user.id) %}
        <div class="row">
            <div class="col">
            {{ post.title }}
            </div>
            <div class="col text-end">
                <a href="./index.php?page=editpost&id={{ post.id }}&token={{ token }}" class="link-dark">Modifier l'article</a> | <a href="./index.php?page=deletepost&id={{ post.id }}&token={{ token }}" class="link-dark">Supprimer l'article</a>
            </div>
        </div>
        {% elseif (role == 1) %}
        <div class="row">
            <div class="col">
            {{ post.title }}
            </div>
                <div class="col text-start">
                    &eacute;crit par {{ post.name }} {{ post.surname }} 
                </div>
                <div class="col text-end">
                    <a href="./index.php?page=editpost&id={{ post.id }}&token={{ token }}" class="link-dark">Modifier l'article</a> | <a href="./index.php?page=deletepost&id={{ post.id }}&token={{ token }}" class="link-dark">Supprimer l'article</a>
                </div>
        </div>
        {% endif %}
    {% endfor %}
</section>
{% endif %}
{% endblock %}