<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ keywords }}">
        <link rel="stylesheet" type="text/css" href="./public/css/style.css">
    </head>
    <body>
        <header>
            <!-- Name of blog & navigations -->
            <div class="left blog-title">
                {{ navtitle }}
            </div>
            <div class="right">
                <nav>
                    <li>
                        <ul {% if (currentPage is empty) %}class="current"{% endif %}><a href="./index.php">Accueil</a></ul>
                        <ul {% if (currentPage == "post") %}class="current"{% endif %}><a href="./index.php?page=post">Articles</a></ul>
                        {% if (role == -1) or (role is empty) %}
                            <ul {% if (currentPage == "connect") %}class="current"{% endif %}><a href="./index.php?page=connect">Connexion</a></ul>
                        {% else %}
                            <ul><a href="./index.php?page=disconnect">D&eacute;connexion</a></ul>
                            {% if (user.path_name is empty) %}
                            <ul><img src="./public/images/avatars/default.svg" alt="Avatar" style="width: 25px; height: 25px;"></ul>
                            {% else %}
                            <ul><img src="./public/uploads/{{ user.path_name }}" alt="Avatar" style="width: 25px; height: 25px;"></ul>
                            {% endif %}
                        {% endif %}
                    </li>
                </nav>
            </div>
        </header>
        <!-- Error -->
        {% block error %}{% endblock %}

        <!-- Content -->

        {% block content %}{% endblock %}

        <footer>
            <!-- Navigations & Copyright -->
            {% if (role != -1) %}
            <div class="panel">
                <a href="./index.php?page=panel">Panneau de configuration</a>
            </div>
            {% endif %}
            <div class="copy">
                myBlog &copy; 2021
            </div>
        </footer>
    </body>
</html>