{% extends "base.html.twig" %}

{% block content %}
<!-- Hero -->
<section class="container">
    <div class="row">
        <div class="col text-center">
            <div class="hero-avatar">
                {% if (main_user.path_name is empty) %}
                <img src="./public/images/avatars/default.svg" alt="Photo de {{ main_user.name}} {{ main_user.surname }}">
                {% else %}
                <img src="./public/uploads/{{ main_user.path_name }}" alt="Photo de {{ main_user.name}} {{ main_user.surname }}">
                {% endif %}
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col text-center">
            {{ main_user.name}} {{ main_user.surname }}
        </div>
    </div>
    <div class="row">
        <div class="col text-center hero-quote">
            {{ main_user.user_hat }}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {% if (main_user.file_name is empty) %}
            Aucun cv disponible
            {% else %}
            <a href="./public/uploads/{{ main_user.file_name }}" class="link-dark">Mon Curicullum Vit&aelig;</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            Suivez-moi sur
            <div class="hero-social">
                {% for userSocial in userSocials %}
                <a href="{{ userSocial.meta }}" target="_blank"><img src="./public/images/socials/{{ userSocial.social_image }}" alt="Logo de {{ userSocial.name }}"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="container">
    <h2>Contactez moi</h2>
    <div class="row">
        <form action="" method="POST">
            <div class="col form-container">
                    <div>
                        <input type="text" name="name" id="name" required>
                        <label for="name">Nom</label>
                    </div>
                    <div>
                        <input type="text" name="surname" id="surname" required>
                        <label for="surname">Pr&eacute;nom</label>
                    </div>
                    <div>
                        <input type="email" name="email" id="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="form-textarea-container">
                        <textarea name="message" required></textarea>
                        <label for="message">Message</label>
                    </div>
                    <input type="submit" value="Envoyer">
            </div>
        </form> 
    </div>
</section>
{% endblock %}
